---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <h1>Det med småt - Det med småt</h1>
</Layout>

<style>
  h1 {
    font-family: "Monument-Medium", sans-serif;
    font-size: 100px;
  }
</style>
