---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <h1>Find dit lokale fællesskab</h1>
  <p>
    Kom med til vores næste tøjbytte-salon! Her mødes medlemmer for at bytte
    tøj, hygge sig og nyde et glas vin. Der opstår en helt særlig stemning, når
    kvinder i alle aldre og størrelser prøver lækkert tøj sammen! Det er helt .
    Det er gratis og uforpligtende at tage til tøjsalon.
  </p>
</Layout>

<style>
  h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    color: var(--text-color);
  }

  p {
    font-size: var(--font-size-p1);
    line-height: var(--line-height-p1);
    color: var(--text-color);
  }
</style>
