<footer class="footer">
  <div>
    <h4>Mere info</h4>

    <p2>Spørgsmål og sar Om another closet</p2>

    <h4>Email-mail:</h4>

    <p2>Tønsbergvej 104, 4000 Roskilde CVR nr.: 44995875</p2>
  </div>

  <div>
    <h4>Mere info</h4>

    <p>Spørgsmål og sar Om another closet</p>

    <h4>Email-mail:</h4>

    <p>Tønsbergvej 104, 4000 Roskilde CVR nr.: 44995875</p>
  </div>
</footer>

<style>
  h1 {
    color: black;
    font-family: Arch;
  }

  .footer {
    background-color: #f3ffde;
  }
</style>
